<%= render  :partial => "new_question", locals: { status: 'grayed-out', selecting_options: '' } %>

<!-- :locals => {:survey => @survey, :title => "title"} -->

<%= render :partial => "question_type_form" %>

<div class="row">

	list of existing questions

</div>