<%= render  :partial => "/shared/survey_fields_form", survey: @survey %>

<!-- :locals => {:survey => @survey, :title => "title"} -->

<%= render :partial => "question_type_form" %>

<div class="row">

	list of existing questions

</div>