
	<div class="row">

		<div class="col-md-12 center">

			<h1>Surveyor: Give Me Data!</h1>

		</div>

	</div>


	<div class="row">

		<div class="col-md-12 center">
			<p>Click on a survey below to take or create a new one!</p>
		</div>

	</div>



	<div class="row">

		<div class="col-md-12 center">
			<%= link_to "Create New Survey", new_survey_path, class: "btn btn-primary center btn-lg" %>
		</div>

	</div>

