	<!-- SURVEY TITLE -->

		<div class="row">

				<p class="col-xs-12 small-header center">
					<%= @survey.title %>
				</p>

		</div>


	<!-- SURVEY DESCRIPTION -->
		<div class="row">

			<p class="col-xs-12 sub-header center"><%= @survey.description %></p>

	  </div>


