<div class="row">

	<p class="col-xs-6 col-xs-offset-3 large-font">Add A Question</p>

</div>


<div class="row">


	<div class="col-xs-6 col-xs-offset-3">
	<%= form_tag select_question_type_path do %>


		<%= hidden_field_tag 'survey_id', @survey.id %>

		<%= select_tag :question_type, options_for_select([["Multiple Choice", "mc" ], ["Range", "range"]] ) %>

		<%= submit_tag 'Create Questions' %>

	<% end %>
</div>

</div>
