	<div class="row">

		<div class="col-md-12 center">

			<h1>Survey Builder</h1>

		</div>

	</div>


	<div class="row">

		<div class="col-xs-6 center">
			<p>1. Build Survey</p>
		</div>
		<div class="col-xs-6 center">
			<p>2. Add Questions</p>
		</div>

	</div>


	<%= form_for @survey do | survey_fields | %>
		<div class="row">

			<h2 class="col-xs-4">
				Survey Title
			</h2>
			<div class="col-xs-6 center">
				<p>2. Add Questions</p>
			</div>

		</div>
		<%= survey_fields.submit %>

	<% end %>

